sqlalchemy
psycopg2-binary
dash
dash-bootstrap-components
spacy
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0-py3-none-any.whl
numpy
plotly
pandas
wordcloud
matplotlib
boto3